@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto';
}
:root {
  --pink: #E5057A;
  --lightblue: #6eadff;
  --yellow: #e1e505;
}

h1 {
  font-size: 80px;
  color: white;
  -webkit-text-stroke: 4px black;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

/*
Todos os h3 devem ser estilizandos individualmente
Por meio da criação de classes
*/

/* NAVBAR */

.header-content {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.nav-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  gap: 1rem;
}

.navbar-list li {
  list-style: none;
  cursor: pointer;
  height: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list li:hover {
  background-color: var(--lightblue);
  transition: 0.3s;
  cursor: pointer;
}

.navbar-list li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  height: 50px;
  font-weight: 600;
}

.navbar-list li a:hover {
  color: white;
  text-decoration: none;
}

.instagram-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}


/* TELA DE HOME */

.container-home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: bottom;
  gap: 3rem;
}

.button-home {
  padding: 5px 40px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
}

.button-home:hover {
  transition: 0.3s;
  color: var(--pink);
  background-color: white;
}

/* SOBRE NÓS */

.container-about {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-about {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.about-box-img {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  background-image: url('../images/foto-person.jpeg');
  background-position: center;
  background-size: cover;
}

.about-box-form {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title-about {
  font-size: 30px;
  border-bottom: 3px solid #e1e505;
  width: 150px;
}

.form-align p {
  font-size: 20px;
}

.button-about {
  padding: 5px 40px;
  background-color: transparent;
  border: 3px solid var(--pink);
  color: var(--pink);
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
}

.button-about:hover {
  transition: 0.3s;
  background-color: var(--pink);
  color: white;
}

/* PRODUTOS */

.container-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/background-products.jpg');
  background-size: cover;
}

section .card-wrapper {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}

section .card-item {
  height:430px;
  background: var(--lightblue);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item img {
  margin-top: 20px;
  width: 60%;
}

.card-item h4 {
  width: 90%;
}

.card-item p {
  width: 90%;
  font-style: italic;
  color: white;
  text-align: center;
}

.card-content {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-align-product {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* FEEDBACKS */

/* CONTATOS */

footer {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  background-color: var(--pink);
}

footer .main {
  width: 80%;
  padding: 20px 10px;
}

.footer-links {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-prakolorir,
.footer-alugar,
.footer-contato,
.footer-social {
  color: white;
  height: 100%;
  min-height: 100px;
}

.footer-links h4 {
  margin-bottom: 10px;
  margin-bottom: 9%;
  text-align: center;

}

.footer-links p {
font-size: 15px;
}
.footer-links {
  margin-bottom:8px;
}

.main .footer-social i {
  width: 30px;
  height: 30px;
  justify-content: center;
  vertical-align: middle;
  color: white;
  font-size: 30px;

}

.main .footer-social a {
 text-decoration: none;
}

.main .footer-social p{
  display: inline-block;
  margin-left: 15px;
  color: white;
  margin-bottom: 8%;
}

footer .last {
  width: 100%;
  height: 50px;
  background: var(--pink);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


